    размер шрифта,
    высоту строки,
    цвет шрифта,
    жирность шрифта,
    гарнитуру (название шрифта).
body {
  color: #000000;
  font-family: Trebuchet MS, Arial, Times New Roman;
  font-size: 12px;
}
