@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       url('/fonts/roboto.woff') format('woff'),
       url('/fonts/roboto.woff') format('woff2'),
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'),
       url('/fonts/robotomedium.woff') format('woff'),
       url('/fonts/robotomedium.woff2') format('woff2'),
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'),
       url('/fonts/roboto-bold.woff') format('woff'),
       url('/fonts/roboto-bold.woff2') format('woff2'),
}

body {
  font-family: 'Roboto','Arial', 'Helvetica', 'sans-serif';
  font-size: 16px;
  background: #ffffff;
  color: #000000
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  margin-bottom: 80px;
  padding-top: 1px;
  background-color: #eeeeee;
}

.header-top {
  margin-top: 49px;
}

.main-header-catalog h1 {
  display: inline-block;
  padding: 19px 0px 60px 216px;
  vertical-align: middle;
  font-size: 55px;
  font-weight: 500;
}

.header-logo {
  float: left;
  width: 161px;
  min-height: 65px;
}

.main-navigation {
  float: left;
  margin-left: 161px;
}

.main-navigation li {
  display: inline-block;
  margin-right: 42px;
  padding-top: 10px;
  vertical-align: top;
  text-transform:  uppercase;
}

.main-navigation a {
  text-decoration: none;
  color: #000;
}

.user-basket {
  float: right;
  padding-top:26px;
}

.user-basket a {
  padding-left: 34px;
  text-decoration: none;
  text-transform:  uppercase;
  background: url(../img/cart.png) no-repeat center left;
  color: #000;
}

.slider1 {
  padding-top: 70px;
  height: 362px;
  background: url(../img/slider-1.jpg) no-repeat right top;
  }

.slider2 {
  padding-top: 70px;
  height: 362px;
  background: url(../img/slider-2.jpg) no-repeat right top;
  }

.slider3 {
  padding-top: 70px;
  height: 362px;
  background: url(../img/slider-2.jpg) no-repeat right top;
}

.sliders h2 {
  display: block;
  margin:0px;
}

.sliders {
  position: relative;
}

.sliders p{
  width: 500px;
}

.btn {
  display: block;
  padding-bottom: 30px;
  width:240px;
  background: #fb565a;
}

.header-slider-switch {
  position: absolute;
  top:68%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;/*не могу понять про дефолтные стили, скинь пожалуйста ссылку почитать на эту тему*/
}

.header-slider-switch li {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background: #ffffff;
}

.services {
  margin-bottom: 40px;
  border-bottom: 2px solid #eeeeee;
}

.services-item {
  float: left;
  width: 300px;
  margin-right: 100px;

  /*временно, пока кнопку не сделаю*/
  padding-bottom: 80px;
}

.service-img {
  margin: 0;
}

.services-item:last-child {
  margin-right: 0;
}


.header-bottom h2 {
  line-height: 1;
  font-size: 55px;
  font-weight: 500;
}

.header-bottom p {
  font-size: 16px;
  line-height: 1.5;
}

.content {
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 46px;

 /*временно, отступ от списка*/
  padding-bottom: 77px;
}

.description {
  float: left;
  width: 700px;
}

.description h2 {
  font-size: 42px;
  line-height: 1;
}

.about-us {
  float: right;
  width: 400px;
}

.features {
  font-size: 0px;
}

.features-item {
  display: inline-block;
  width: 130px;
  vertical-align: top;
  font-size: 16px;
}

.projects {
  padding-bottom: 44px;
  margin-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}


.projects-item {
  float: left;
  width: 260px;
  margin-right: 40px;
  text-align: center;
}

.projects-item:last-child {
  margin-right: 0px;
}

.catalog-sidebar {
  float:left;
  width: 260px;
  margin-top: 30px;
 }

.catalog-content {
  float: right;
  width: 760px;
  margin-bottom: 50px;
  margin-top: 10px;
}


.map {
  position: relative;
  margin-bottom: 37px;
}


.map-contact .btn {
  display: block;
}

.map iframe {
  width: 100%;
  height: 414px;
  border: 0px;
}

.map-contact {
  position: absolute;
  width: 270px;
  padding-top: 54px;
  padding-left: 49px;
  top:10%;
  left: 50%;
  transform: translateX(-586px);
  background: #ffffff;
}

.feedback {
  display: none;
  width: 960px;
  height: 590px;
  padding-left: 100px;
  padding-top: 68px;
}

.footer-social {
  float: left;
  width: 320px;
}

.social-btn {
  display: inline-block;
  margin-right: 12px;
  padding: 40px;
  vertical-align: middle;
  border-radius: 80px;
  background: #e1e1e1;
}

.social-btn .social-btn-vk {
  background: url(../img/vk.png) no-repeat 26px 15px;
}

.social-btn .social-btn-fb {
  background: url(../img/fb.png) no-repeat 12px 22px;
}

.social-btn .social-btn-insta {
  background: url(../img/insta.png) no-repeat 21px 21px;
}

.social-slogan {
  float: right;
  width: 800px;
}

.main-footer {
  margin-bottom: 58px;
}

[hidden] { display: none; }

.main-header-catalog {
  padding-top: 1px;
  margin-bottom: 26px;
  background-color: #eeeeee;
}

.sorting-list {
  float: left;
}

.sorting h2 {
  float: left;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}


.sorting-list li {
  display: inline-block;
  margin-right: 22px;
  vertical-align: bottom;
}
.sorting-list li:last-child {
  margin-right: 0;
}

.sorting-list a {
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}


.sorting-list-type {
  margin-left: 229px;
}

.sorting-item-down {
  display: inline-block;
  width: 9px;
  height: 9px;
  background: url(../img/sort-down.png) no-repeat;
}

.sorting-item-up {
  width: 9px;
  height: 9px;
  background: url(../img/sort-up.png) no-repeat;
}

.sorting-list-direction {
  float: right;
  margin-top: 10px;
  padding-left: 0px;
}

.sorting-list-direction li {
  margin-right: 17px;

}

.templates {
  font-size: 0px;
  margin-bottom: 24px;
  margin-top: 40px;
}

.templates-item {
  position: relative;
  display: inline-block;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 36px;
  border-radius: 5px;
  background: #f4f4f4;
}

.templates-item:nth-child(even) {
  margin-right: 0px;
}

.switch {
  padding: 8px 5px;
}

.switch li {
  display: inline-block;
  padding: 7px;
  margin: 5px;
  vertical-align: middle;
  border-radius: 10px;
  text-decoration: none;
  background: #ffffff;
}

.price {
  position: absolute;
  padding-bottom: 50px;
  display: none;
  width: 360px;
  bottom: 0;
  font-size: 16px;
  color: #000;
  background: #eeeeee;
}

.templates-item:hover .price {
  display: block;
}

.pagination {
  width: 100%;
  padding-left: 0px;
}

.pagination li {
  display: inline-block;
  min-width: 20px;
  padding: 0px 10px;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  background: #eeeeee;
  color: #000;
}

.pagination a {
  text-decoration: none;
  color: #000;
}

.pagination .prev {
}

.pagination .next {
  padding: 0px 60px;
}

.pagination .current {
  background-color: #16a085;
}

.pagination .disabled {
  opacity: 0.3;
}

.pagination a:hover {
  background-color: #2ecc71;
}


fieldset, form {
  display: block;
  margin-top: 4px;
  margin-bottom: 55px;
}

legend {
  line-height: 1;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

input {
  display: inline-block;
  width: 220px;
}

input[type="text"] {
  width: 80px;
  padding: 7px 0px;
}

input[type="radio"] {
}

label {
}




